html,
body {
  background-color: #f8f8f8;
  user-select: none;
  margin: 0;
  padding: 0;
}

a,
img {
  -webkit-touch-callout: none;
}

.page {
  width: 100%;
}

.page-with-padding {
  padding: .5rem .7rem;
  width: calc(100% - .7rem*2);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 250ms;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  will-change: transform;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-left-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-leave-active {
  opacity: 0;
  transform: translateX(100%);
}

.qrcode {
  display: block;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  bottom: 20px;
  right: 10px;
  padding: 3px;
  background-color: #eee;

  img {
    display: block;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;

    &.qrcode-big {
      width: 200px;
      height: 200px;
    }
  }
}
