html,
body {
  background-color: #f8f8f8;
  user-select: none;
}

a,
img {
  -webkit-touch-callout: none;
}

.page {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.page-with-padding {
  padding: .5rem .7rem;
  width: calc(100% - .7rem*2);
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 250ms;
  top: 0;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  will-change: transform;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-left-leave-active {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slide-right-leave-active {
  opacity: 0;
  transform: translateX(100%);
}
