@import "fn";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $weui-font-default;
  line-height: 1.6;
}

* {
  margin: 0;
  padding: 0;
}

a img {
  border: 0;
}

a {
  text-decoration: none;

  @include setTapColor();
}

input,textarea{
  caret-color: $weui-color-primary;
}

::-webkit-input-placeholder{
  color: $weui-text-color-tips;
}
