// color
$weui-color-primary: #07C160;
$weui-color-warn: #FA5151;

// active mask
$weui-active-mask-white: rgba(0, 0, 0, .05);
$weui-active-mask-colored: rgba(0, 0, 0, .1);
$weui-active-mask-black: rgba(0, 0, 0, .15);

// link
$weui-link-color-default: #576B95;

// background
$weui-bg-color-default: #EDEDED;
$weui-bg-color-primary: #F7F7F7;
$weui-bg-color-active: #ECECEC;

// line
$weui-line-color-light: rgba(0, 0, 0, .1);
$weui-line-color-dark: rgba(0, 0, 0, .3);

// text
$weui-text-color-title: rgba(0, 0, 0, .9);
$weui-text-color-desc: rgba(0, 0, 0, .5);
$weui-text-color-tips: rgba(0, 0, 0, .3);
$weui-text-color-warn: $weui-color-warn;
