// font
$weui-font-en: -apple-system-font, "Helvetica Neue";
$weui-font-cn: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
$weui-font-sans: sans-serif;
$weui-font-default: $weui-font-en, $weui-font-sans;
