$weui-msg-padding-top: 36px;
$weui-msg-icon-gap: 30px;
$weui-msg-title-gap: 5px;
$weui-msg-text-gap: 25px;
$weui-msg-opr-gap: 25px;
$weui-msg-extra-area-gap: 15px;
$weui-msg-extra-area-of-min-height: 438px;
