@import "./color";

$weui-dialog-background-color: #fff;
$weui-dialog-line-color: rgba(0, 0, 0, 0.1);
$weui-dialog-link-color: $weui-bg-color-default;
$weui-dialog-link-active-bc: $weui-bg-color-active;
$weui-dialog-gap-width: 24px;
