@import "./color";

$weui-btn-width: 184px;
$weui-btn-height: 40px;
$weui-btn-font-size: 17px;
$weui-btn-border-radius: 4px;
$weui-btn-default-gap: 16px;

$weui-btn-mini-font-size: 16px;
$weui-btn-mini-height: 32px;

$weui-btn-cell-height: 56px;
$weui-btn-cell-gap: 16px;
$weui-btn-cell-line-height: unit(($weui-btn-cell-height - 2 * $weui-btn-cell-gap) / $weui-btn-font-size);

$weui-btn-font-color: #FFFFFF;
$weui-btn-active-font-color: #FFFFFF;
$weui-btn-disabled-font-color: rgba(0, 0, 0, .18);
$weui-btn-disabled-bg: overlay(rgba(0, 0, 0, .02), #FFFFFF);
$weui-btn-hover-default-mask: $weui-active-mask-white;
$weui-btn-hover-primary-mask: $weui-active-mask-colored;

$weui-btn-default-font-color: #06AE56;
$weui-btn-default-active-font-color: #06AE56;
$weui-btn-default-disabled-font-color: $weui-btn-disabled-font-color;

$weui-btn-default-bg: #F2F2F2;
$weui-btn-default-active-bg: #D9D9D9;
$weui-btn-default-disabled-bg: $weui-btn-disabled-bg;


$weui-btn-primary-font-color: #FFFFFF;
$weui-btn-primary-active-font-color: #FFFFFF;
$weui-btn-primary-disabled-font-color: $weui-btn-disabled-font-color;

$weui-btn-primary-bg: #07C160;
$weui-btn-primary-active-bg: #06AD56;
$weui-btn-primary-disabled-bg: $weui-btn-disabled-bg;


$weui-btn-warn-font-color: $weui-color-warn;
$weui-btn-warn-active-font-color: $weui-color-warn;
$weui-btn-warn-disabled-font-color: $weui-btn-disabled-font-color;

$weui-btn-warn-bg: #F2F2F2;
$weui-btn-warn-active-bg: #D9D9D9;
$weui-btnwarn-disabled-bg: $weui-btn-disabled-bg;


$weui-btn-plain-primary-color: #07C160;
$weui-btn-plain-primary-border-color: rgba(26, 173, 25, 1);
$weui-btn-plain-primary-active-color: overlay($weui-btn-hover-primary-mask, $weui-btn-plain-primary-color);
$weui-btn-plain-primary-active-border-color: overlay($weui-btn-hover-primary-mask, $weui-btn-plain-primary-border-color);

$weui-btn-plain-default-color: rgba(53, 53, 53, 1);
$weui-btn-plain-default-border-color: rgba(53, 53, 53, 1);
$weui-btn-plain-default-active-color: overlay($weui-btn-hover-default-mask, $weui-btn-plain-default-color);
$weui-btn-plain-default-active-border-color: overlay($weui-btn-hover-default-mask, $weui-btn-plain-default-border-color);
