@import "prism-themes/themes/prism-atom-dark.css";
@import "github-markdown-css/github-markdown.css";

// iconfont 图标
// 项目地址：https://www.iconfont.cn/manage/index?manage_type=myprojects&projectId=223763
@import url("//at.alicdn.com/t/font_223763_wve2zq2w8tp.css");

/// Mixin to customize scrollbars
/// Beware, this does not work in all browsers
/// @author Hugo Giraudel
/// @param {Length} $size - Horizontal scrollbar's height and vertical scrollbar's width
/// @param {Color} $foreground-color - Scrollbar's color
/// @param {Color} $background-color [mix($foreground-color, white, 50%)] - Scrollbar's color
/// @example scss - Scrollbar styling
///   @include scrollbars(.5em, slategray);
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $size;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  iframe,
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(0.4em, slategray);

.markdown-body {
  position: relative;

  img {
    max-width: 100%;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    border-bottom: none;
    margin-top: 1em;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 1.05rem;
  }
}

div[class*="language-"] {
  position: relative;
  z-index: 100;
  background: #1d1f21;

  &::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: #fff;
  }

  // 隐藏行号
  &:not(.line-numbers-mode) .line-numbers-wrapper {
    display: none;
  }

  &.line-numbers-mode .highlight-lines .highlighted {
    position: relative;

    ::before {
      content: " ";
      position: absolute;
      z-index: 3;
      left: 0;
      top: 0;
      display: block;
      width: 3.5rem;
      height: 100%;
      background-color: rgba(0,0,0,.66)
    }
  }

  &.line-numbers-mode {
    pre {
      padding-left: 4.5rem;
      vertical-align: middle;
    }

    .line-numbers-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3.5rem;
      text-align: center;
      color: hsla(0, 0, 100%, 0.3);
      padding: 16px 0;
      line-height: 18.61px;
      border-radius: 6px 0 0 6px;
      border-right: 1px solid rgba(0, 0, 0, 0.66);
      background-color: #282c45;
      z-index: 2;

      .line-number,
      br {
        user-select: none;
      }

      .line-number {
        position: relative;
        z-index: 4;
        font-size: 0.85em;
      }
    }
  }

  & pre {
    background-color: transparent;
    position: relative;
    z-index: 1;
  }

  .highlight-lines {
    user-select: none;
    padding-top: 13.6px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 20.4px;

    .highlighted {
      background-color: rgba(0, 0, 0, 0.66);
    }
  }
}

$languages: (
  javascript: 'js',
  typescript: 'ts',
  markup: 'html',
  markdown: 'md',
  ruby: 'rb',
  python: 'py',
  bash: 'sh',
  shell: 'sh',
  php: 'php',
  css: 'css',
  scss: 'scss',
  diff: 'diff',
);

@each $language, $language-text in $languages {
  div[class~="language-#{$language}"] {
    &::before {
      content: $language-text;
    }
  }
}

.highlight-lines {
  position: relative;
  top: 0;
  bottom: 0;
}

.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: .4rem
}

.custom-block.danger,.custom-block.tip,.custom-block.warning {
  padding: .1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0
}

.custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983
}

.custom-block.warning {
  background-color: rgba(255,229,100,.3);
  border-color: #e7c000;
  color: #6b5900
}

.custom-block.warning .custom-block-title {
  color: #b29400
}

.custom-block.warning a {
  color: #2c3e50
}

.custom-block.danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000
}

.custom-block.danger .custom-block-title {
  color: #900
}

.custom-block.danger a {
  color: #2c3e50
}

