{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["vue", "html"],
  "extends": ["standard"],
  "rules": {
    // allow paren-less arrow functions
    "arrow-parens": 0,
    // allow async-await
    "generator-star-spacing": 0,
    "no-new": 0,
    "spaced-comment": 0
  }
}
