@import "./base/fn";

.weui-swiped-btn {
  display: block;
  padding: $weuiCellGapV 1em;
  line-height: $weuiCellLineHeight;
  color: inherit;
}

.weui-swiped-btn_default {
  background-color: #c7c7cc;
}

.weui-swiped-btn_warn {
  background-color: #ff3b30;
}
