@import "./base/fn";
@import "./cell";

.weui-cell_swiped {
  display: block !important;
  padding: 0 !important;
  > .weui-cell__bd {
    position: relative;
    z-index: 1;
    background-color: #ffffff;
  }
  > .weui-cell__ft {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    color: #ffffff;
  }
}
