@import "./base/fn";
@import "./icon";

.weui-check__label {
  @include setTapColor();
  &:active {
    background-color: #ececec;
  }
}

.weui-check {
  position: absolute;
  left: -9999em;
}

.weui-cells_checkbox {
  .weui-cell__hd {
    padding-right: $weuiCellInnerGapH;
  }
  .weui-icon-checked {
    &:before {
      content: '\EA01';
      color: #c9c9c9;
      font-size: 23px;
      display: block;
    }
  }
}

// method2 accessbility
.weui-check {
  // checkbox
  .weui-cells_checkbox & {
    &:checked {
      & + .weui-icon-checked {
        &:before {
          content: '\EA06';
          color: #09bb07;
        }
      }
    }
  }
}
