@import "./base/fn";

$border-color: #ddd;

.wv-number-spinner {
  display: flex;
  font-size: 13px;
  height: 1.5em;
  width: auto;
  overflow: hidden;
  border: 1px solid $border-color;
  border-radius: 3px;
  justify-content: space-between;

  &:focus {
    border: 1px solid red;
  }

  input {
    border: none;
    outline: none;
    padding: 0 .5em;
    font-size: 1em;
    line-height: 1.5;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }

    &:focus {
      border-color: #0074d9;
      outline: none;
    }

    &[readonly] {
      background: #f8f8f8;
    }

    &:disabled {
      background-color: #f8f8f8;
      opacity: 0.65;
    }
  }

  .spinner-btn {
    background-color: transparent;
    width: 1.5em;
    position: relative;
    border: none;
    border-radius: 0;
    outline: none;

    &:focus {
      outline: none;
    }

    &::before,
    &::after {
      background-color: #333;
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: background-color .15s;
    }

    &::before {
      height: 0.0625rem;
      width: 50%;
    }

    &::after {
      height: 50%;
      width: 0.0625rem;
    }

    &:disabled {
      &::before,
      &::after {
        background-color: #ddd;
      }
    }
  }

  .btn-minus {
    border-right: 1px solid $border-color;
  }

  .btn-plus {
    border-left: 1px solid $border-color;
  }

  .btn-minus::after {
    display: none;
  }
}
