.weui-progress{
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  align-items:center;
}
.weui-progress__bar{
  background-color:#EBEBEB;
  height:3px;
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
}
.weui-progress__inner-bar{
  width:0;
  height:100%;
  background-color:#09BB07;
}
.weui-progress__opr{
  display:block;
  margin-left:15px;
  font-size:0;
}
