@import "./base/fn";

.weui-toast {
  position: fixed;
  z-index: 5000;
  width: 7.6em;
  min-height: 7.6em;
  top: 180px;
  left: 50%;
  margin-left: -3.8em;
  background: rgba(17, 17, 17, 0.7);
  text-align: center;
  border-radius: 5px;
  color: #FFFFFF;
}

.weui-icon_toast {
  margin: 22px 0 0;
  display: block;
  font-size: 40px;
  &.weui-icon-success-no-circle {
    &:before {
      color: #FFFFFF;
      font-size: 55px;
    }
  }
  &.weui-loading {
    margin: 30px 0 0;
    width: 38px;
    height: 38px;
    vertical-align: baseline;
  }
}

.weui-toast__content {
  margin: 0 0 15px;
}

.weui-toast_text {
  width: auto;
  min-width: 0;
  max-width: 85%;
  min-height: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-left: 0;
  text-align: center;
  word-break: break-all;

  .weui-toast__content {
    margin: 0;
    padding: .5em 1em;
  }
}
