
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1500577729042'); /* IE9*/
  src: url('iconfont.eot?t=1500577729042#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1500577729042') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1500577729042') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1500577729042#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner9:before { content: "\e7e9"; }

.icon-spinner-1:before { content: "\e722"; }

.icon-spinner1:before { content: "\e806"; }

.icon-spinner2:before { content: "\e63f"; }

