// color
$weuiColorPrimary: #1aad19;
$weuiColorWarn: #e64340;

// link
$weuiLinkColorDefault: #586c94;

// background
$weuiBgColorDefault: #efeff4;
$weuiBgColorActive: #ececec;

// line
$weuiLineColorLight: #e5e5e5;
$weuiLineColorDark: #bcbab6;

// text
$weuiTextColorTitle: #000000;
$weuiTextColorTips: #b2b2b2;
$weuiTextColorWarn: $weuiColorWarn;
$weuiTextColorGray: #999999;
