// color
$weui-color-primary: #1aad19;
$weui-color-warn: #e64340;

// link
$weui-link-color-default: #586c94;

// background
$weui-bg-color-default: #efeff4;
$weui-bg-color-active: #ececec;

// line
$weui-line-color-light: #e5e5e5;
$weui-line-color-dark: #bcbab6;

// text
$weui-text-color-title: #000000;
$weui-text-color-tips: #b2b2b2;
$weui-text-color-warn: $weui-color-warn;
$weui-text-color-gray: #999999;
