$weuiBtnHeight: 46px;
$weuiBtnFontSize: 18px;
$weuiBtnFontColor: #ffffff;
$weuiBtnActiveFontColor: rgba(255, 255, 255, 0.6);
$weuiBtnDisabledFontColor: rgba(255, 255, 255, 0.6);
$weuiBtnBorderRadius: 5px;
$weuiBtnDefaultGap: 15px;

$weuiBtnMiniFontSize: 13px;
$weuiBtnMiniHeight: 2.3;

$weuiBtnDefaultFontColor: #000000;
$weuiBtnDefaultActiveFontColor: rgba(0, 0, 0, 0.6);
$weuiBtnDefaultDisabledFontColor: rgba(0, 0, 0, 0.3);

$weuiBtnDefaultBg: #f8f8f8;
$weuiBtnDefaultActiveBg: #dedede;
$weuiBtnDefaultDisabledBg: #f7f7f7;

$weuiBtnPrimaryBg: #1aad19;
$weuiBtnPrimaryActiveBg: #179b16;
$weuiBtnPrimaryDisabledBg: #9ed99d;

$weuiBtnWarnBg: #e64340;
$weuiBtnWarnActiveBg: #ce3c39;
$weuiBtnwarnDisabledBg: #ec8b89;

$weuiBtnPlainPrimaryColor: rgba(26, 173, 25, 1);
$weuiBtnPlainPrimaryBorderColor: rgba(26, 173, 25, 1);
$weuiBtnPlainPrimaryActiveColor: rgba(26, 173, 25, 0.6);
$weuiBtnPlainPrimaryActiveBorderColor: rgba(26, 173, 25, 0.6);

$weuiBtnPlainDefaultColor: rgba(53, 53, 53, 1);
$weuiBtnPlainDefaultBorderColor: rgba(53, 53, 53, 1);
$weuiBtnPlainDefaultActiveColor: rgba(53, 53, 53, 0.6);
$weuiBtnPlainDefaultActiveBorderColor: rgba(53, 53, 53, 0.6);
