$weui-btn-height: 46px;
$weui-btn-font-size: 18px;
$weui-btn-font-color: #ffffff;
$weui-btn-active-font-color: rgba(255, 255, 255, 0.6);
$weui-btn-disabled-font-color: rgba(255, 255, 255, 0.6);
$weui-btn-border-radius: 5px;
$weui-btn-default-gap: 15px;

$weui-btn-mini-font-size: 13px;
$weui-btn-mini-height: 2.3;

$weui-btn-default-font-color: #000000;
$weui-btn-default-active-font-color: rgba(0, 0, 0, 0.6);
$weui-btn-default-disabled-font-color: rgba(0, 0, 0, 0.3);

$weui-btn-default-bg: #f8f8f8;
$weui-btn-default-active-bg: #dedede;
$weui-btn-default-disabled-bg: #f7f7f7;

$weui-btn-primary-bg: #1aad19;
$weui-btn-primary-active-bg: #179b16;
$weui-btn-primary-disabled-bg: #9ed99d;

$weui-btn-warn-bg: #e64340;
$weui-btn-warn-active-bg: #ce3c39;
$weui-btnwarn-disabled-bg: #ec8b89;

$weui-btn-plain-primary-color: rgba(26, 173, 25, 1);
$weui-btn-plain-primary-border-color: rgba(26, 173, 25, 1);
$weui-btn-plain-primary-active-color: rgba(26, 173, 25, 0.6);
$weui-btn-plain-primary-active-border-color: rgba(26, 173, 25, 0.6);

$weui-btn-plain-default-color: rgba(53, 53, 53, 1);
$weui-btn-plain-default-border-color: rgba(53, 53, 53, 1);
$weui-btn-plain-default-active-color: rgba(53, 53, 53, 0.6);
$weui-btn-plain-default-active-border-color: rgba(53, 53, 53, 0.6);
