@import "./base/fn";

.weui-footer {
  color: $weui-text-color-gray;
  font-size: 14px;
  text-align: center;

  a {
    color: $weui-link-color-default;
  }
}

.weui-footer_fixed-bottom {
  position: fixed;
  bottom: 0.52em;
  left: 0;
  right: 0;
}

.weui-footer__links {
  font-size: 0;
}

.weui-footer__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.62em;
  position: relative;
  font-size: 14px;

  &::before {
    @include setLeftLine();

    left: -0.65em;
    top: 0.36em;
    bottom: 0.36em;
  }

  &:first-child {
    &::before {
      display: none;
    }
  }
}

.weui-footer__text {
  padding: 0 0.34em;
  font-size: 12px;
}
