@import "./base/fn";

.weui-grids {
  position: relative;
  overflow: hidden;

  &:before {
    @include setTopLine($weui-grid-border-color);
  }
  &:after {
    @include setLeftLine($weui-grid-border-color);
  }
}

.weui-grid {
  position: relative;
  float: left;
  padding: 20px 10px;
  width: 100% / $weui-grid-column-count;
  box-sizing: border-box;

  &:before {
    @include setRightLine($weui-grid-border-color);
  }
  &:after {
    @include setBottomLine($weui-grid-border-color);
  }

  &:active {
    background-color: $weui-bg-color-active;
  }
}

.weui-grid__icon {
  width: $weui-grid-icon-size;
  height: $weui-grid-icon-size;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }

  & + .weui-grid__label {
    margin-top: 5px;
  }
}

.weui-grid__label {
  display: block;
  text-align: center;
  color: $weui-text-color-title;
  font-size: $weui-grid-font-size;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
