@import "./base/fn";

.weui-cells {

  // onepx
  position: relative;
  margin-top: $weui-cells-margin-top;
  overflow: hidden; // 因为每个 cell 的 border 使用 before 元素 left 搞的，ie下伪元素的containing block估计跟标准不同，在cell上用oh不生效
  font-size: $weui-cell-font-size; // cell 中间有效高度23px，跟客户端默认图标尺寸一致
  line-height: $weui-cell-line-height;
  background-color: $weui-cell-bg;

  &::before {
    @include setTopLine($weui-cell-border-color);

    z-index: 2;
  }

  &::after {
    @include setBottomLine($weui-cell-border-color);

    z-index: 2;
  }
}

.weui-cells__title {
  margin-top: 0.77em; // 15px - 行高
  margin-bottom: 0.3em; // 8px - 行高
  padding-right: $weui-cell-gap-h;
  padding-left: $weui-cell-gap-h;
  color: $weui-text-color-tips;
  font-size: $weui-cell-tips-font-size;

  & + .weui-cells {
    margin-top: 0;
  }
}
