@import "./base/fn";

$headerHeight: 50px;

.wv-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: $headerHeight;
  line-height: 1;
  padding: 0 10px;
  margin: 0;
  color: white;
  position: relative;
  white-space: nowrap;
  z-index: 500;

  .left {
    display: block;
    overflow: hidden;
    float: left;
    font-size: 35px;
    line-height: 35px;
    font-weight: 100;
  }

  .wv-header-title {
    font-size: 23px;
    text-align: center;
    flex: 1;
  }

  &.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
  }
}
