@import "./base/fn";
@import "./cell";

.weui-input {
  width: 100%;
  height: $weui-cell-line-height + em;
  color: inherit;
  font-size: inherit;
  line-height: $weui-cell-line-height;
  background-color: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;

  // hides the spin-button
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
