@import "./base/fn";

.weui-loadmore {
  width: 65%;
  margin: 1.5em auto;
  line-height: 1.6em;
  font-size: 14px;
  text-align: center;
}

.weui-loadmore__tips {
  display: inline-block;
  vertical-align: middle;
}

.weui-loadmore_line {
  border-top: 1px solid $weui-line-color-light;
  margin-top: 2.4em;

  .weui-loadmore__tips {
    position: relative;
    top: -0.9em;
    padding: 0 0.55em;
    background-color: #ffffff;
    color: $weui-text-color-gray;
  }
}

.weui-loadmore_dot {
  .weui-loadmore__tips {
    padding: 0 0.16em;

    &:before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $weui-line-color-light;
      display: inline-block;
      position: relative;
      vertical-align: 0;
      top: -0.16em;
    }
  }
}
