@import "./base/fn";

.weui-panel {
  background-color: #ffffff;
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }

  position: relative;
  overflow: hidden;
  &:before {
    @include setTopLine($weui-line-color-light);
  }
  &:after {
    @include setBottomLine($weui-line-color-light);
  }
}

.weui-panel__hd {
  padding: 14px 15px 10px;
  color: $weui-text-color-gray;
  font-size: 13px;
  position: relative;
  &:after {
    @include setBottomLine($weui-line-color-light);
    left: 15px;
  }
}
