@import "./base/fn";

.weui-progress {
  display: flex;
  align-items: center;
}

.weui-progress__bar {
  background-color: $weui-progress-bg;
  height: $weui-progress-height;
  flex: 1;
}

.weui-progress__inner-bar {
  width: 0;
  height: 100%;
  background-color: $weui-progress-color;
}

.weui-progress__opr {
  display: block;
  margin-left: 15px;
  font-size: 0;
}
