@import "./base/fn";

$weui-search-input-height: 32px;

.weui-search-bar {
  position: relative;
  padding: 8px;
  display: flex;
  box-sizing: border-box;
  background-color: $weui-bg-color-default;
  -webkit-text-size-adjust: 100%;
  align-items: center;

  &.weui-search-bar_focusing {
    .weui-search-bar__cancel-btn {
      display: block;
    }

    .weui-search-bar__label {
      display: none;
    }
  }

  .weui-icon-search {
    width: 16px;
    height: 16px;
  }
}

.weui-search-bar__form {
  position: relative;
  flex: auto;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.weui-search-bar__box {
  position: relative;
  padding-left: 28px;
  padding-right: 32px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;

  .weui-search-bar__input {
    padding: 8px 0;
    width: 100%;
    height: ($weui-search-input-height - 16px) / 14px + em;
    border: 0;
    font-size: 14px;
    line-height: ($weui-search-input-height - 16px) / 14px + em;
    box-sizing: content-box;
    background: transparent;
    caret-color: $weui-color-primary;

    &:focus {
      outline: none;
    }
  }

  .weui-icon-search {
    position: absolute;
    top: 50%;
    left: 8px;
    margin-top: -8px;
  }

  .weui-icon-clear {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -16px;
    padding: 8px;
    width: 16px;
    height: 16px;
    mask-size: 16px;
  }
}

.weui-search-bar__label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-size: 0;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  color: $weui-text-color-desc;
  background: #FFFFFF;

  span {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
  }

  .weui-icon-search {
    margin-right: 4px;
  }
}

.weui-search-bar__cancel-btn {
  display: none;
  margin-left: 8px;
  line-height: 28px;
  color: $weui-link-color-default;
  white-space: nowrap;
}

.weui-search-bar__input:not(:valid) ~ .weui-icon-clear {
  display: none;
}

//干掉input[search]默认的clear button
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.searchbar-result {
  display: block;
  margin-top: 0;
  font-size: 14px;
  transform: scale(1, 1);
  transform-origin: 0 0 0;
  opacity: 1;
}
