$wv-switch-height: 32px;
$thumb-background-color: #fff;
$on-color: #04be02;
$off-color: #fdfdfd;
$thumb-color: #fff;

.wv-switch {
  position: relative;
  width: 52px;
  height: $wv-switch-height;
  border: 1px solid #dfdfdf;
  outline: 0;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: #dfdfdf;
  transition: background-color 0.1s, border 0.1s;

  .background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: $wv-switch-height - 2;
    border-radius: 15px;
    background-color: #fdfdfd;
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  }

  .thumb {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $wv-switch-height - 2;
    height: $wv-switch-height - 2;
    border-radius: 15px;
    background-color: $thumb-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  }

  &.wv-switch-on {
    border-color: $on-color;
    background-color: $on-color;

    .background {
      transform: scale(0);
    }

    .thumb {
      transform: translate3d(20px, 0, 0);
    }
  }
}

.wv-switch-disabled {
  &.wv-switch-on {
    border-color: #dedede;
    background-color: #dedede;
  }

  .background {
    background-color: #dedede;
  }

  .thumb {
    background-color: lightgray;
  }
}

// 兼容IE Edge的版本
.wv-switch-cp__input {
  position: absolute;
  left: -9999px;
}

.wv-switch-cp__box {
  display: block;
}
