@import "./base/fn";

.weui-tabbar {
  position: absolute;
  bottom: 0;
  z-index: 500;
  display: flex;
  width: 100%;
  background-color: #f7f7fa;

  &::before {
    @include setTopLine(#c0bfc4);
  }
}

.weui-tabbar__item {
  display: block;
  flex: 1;
  padding: 5px 0 0;
  color: $weui-text-color-tips;
  font-size: 0;
  text-align: center;

  @include setTapColor();

  &.weui-bar__item_on {
    .weui-tabbar__icon,
    .weui-tabbar__icon > i,
    .weui-tabbar__label {
      color: #09bb07;
    }
  }
}

.weui-tabbar__icon {
  display: inline-block;
  width: 27px;
  height: 27px;

  &i,
  > i {
    color: $weui-text-color-tips;
    font-size: 24px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.weui-tabbar__label {
  color: $weui-text-color-tips;
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
}
