@import "./base/fn";

.weui-textarea {
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;
}

.weui-textarea-counter {
  color: $weui-text-color-tips;
  text-align: right;

  .weui-cell_warn & {
    color: $weui-text-color-warn;
  }
}
