@import "./base/fn";

.weui-toptips {
  display: block;
  position: fixed;
  transform: translateZ(0);
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  z-index: 5000;
  @include text_wrap();

  &_warn {
    background-color: $weui-color-warn;
  }
}
