body {
  background-color: #f8f8f8;
  font-family: 'Microsoft Yahei';
}

[v-cloak] {
  display: none;
}

.page__hd {
  padding: 40px;

  .page__title {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
  }

  .page__desc {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
  }
}