
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474383618'); /* IE9*/
  src: url('iconfont.eot?t=1474383618#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474383618') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474383618') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474383618#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-edit:before { content: "\e61e"; }
.icon-favorfill:before { content: "\e600"; }
.icon-favor:before { content: "\e601"; }
.icon-location:before { content: "\e602"; }
.icon-phone:before { content: "\e603"; }
.icon-roundcheckfill:before { content: "\e604"; }
.icon-time:before { content: "\e605"; }
.icon-likefill:before { content: "\e606"; }
.icon-like:before { content: "\e607"; }
.icon-deliver:before { content: "\e608"; }
.icon-pay:before { content: "\e609"; }
.icon-shop:before { content: "\e60a"; }
.icon-list:before { content: "\e60b"; }
.icon-more:before { content: "\e60c"; }
.icon-settings:before { content: "\e60d"; }
.icon-question:before { content: "\e60e"; }
.icon-refresh:before { content: "\e60f"; }
.icon-moreandroid:before { content: "\e610"; }
.icon-cart:before { content: "\e611"; }
.icon-delete:before { content: "\e612"; }
.icon-home:before { content: "\e613"; }
.icon-message:before { content: "\e614"; }
.icon-lock:before { content: "\e615"; }
.icon-goods:before { content: "\e616"; }
.icon-info:before { content: "\e617"; }
.icon-recharge:before { content: "\e618"; }
.icon-share:before { content: "\e619"; }
.icon-mobile:before { content: "\e61a"; }
.icon-bianji:before { content: "\e61f"; }
.icon-notice:before { content: "\e61b"; }
.icon-people:before { content: "\e61c"; }
.icon-tag:before { content: "\e620"; }
.icon-goodslight:before { content: "\e61d"; }
