@mixin ellipsis($w: auto) {
  width: $w;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: normal;
}

@mixin ellipsisLn($line) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}

@mixin text_wrap() {
  word-wrap: break-word;
  word-break: break-all;
}

@mixin hyphens() {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  hyphens: auto;
}
